---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Astro App</title>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <main>
      <p>ProgressiveNodeX</p>
      <h1>Astro starter</h1>
      <span>Edit <code>src/pages/index.astro</code>.</span>
    </main>
  </body>
</html>